# Enter your variables here. Please note that project_name must be globally unique and contain only lowercase letters and numbers

project_name = "cloudproject"
environment  = "dev"
location     = "swedencentral"